body {
  background-color:#332A2F;
  font-family: Ubuntu, sans-serif;
  margin:0px;
}

h1 {
  color: #332A2F;
  font-weight: bold;
}

h2 {
  color: rgba(84,195,255,0.4);
  font-weight:lighter;
}

h3 {
  display: inline;
  color: black;
  font-weight: lighter;
}


h4 {
  display:inline;
  font-weight: bold;
}

a {
  color:#F0EDD5;
  text-decoration:none;
}

a:hover {
  color:#F2C572;
}

div {
  border:0px;
}

.brackets{
  margin: 0px 0px 0px 4em;
}

.footnote {
  font-size: 8pt;
  font-weight: lighter;
}

header {
  display: inline;
  height:30px;
  margin-left:12px;
  margin-top: 10px;
}

header, h1 {
  display: inline;
  font-size:18pt;
}

.header_wrapper {
  background-color: rgba(84,195,255,0.4);
  padding-top:18px;
  padding-bottom:8px;
  padding-left:5px;
  height:60px;
}

#content {
  margin-top:10px;
  padding-bottom:10px;
}

#content-main {
  margin-top:8px;
  margin-left:100px;
  width:75%;
  background-color:#ADA892;
  border-radius:25px;
  padding-left:30px;
  padding-top:8px;
  padding-bottom:8px;
}

#occupation {
  color:#FFFFFF;
  font-weight:lighter;
}

#name {
  color:#FFFFFF;
  font-size:12pt;
  font-weight:bold;
}

.contact-info {
  float: right;
  font-size:10pt;
  padding-right:10px;
  padding-bottom:10px;
  align-self:"right"
}
