body {
  background-color: #A63E26;
  font-family: Ubuntu, sans-serif;
}

h1 {
  color: #000000;
  margin-left: 0px;
  font-weight: lighter;
  font-style: italic;
}

h2 {
  color:#F2C572;
  font-weight: lighter;
}

h3 {
  display: inline;
  color: black;
  font-weight: lighter;
}


h4 {
  display:inline;
  font-weight: bold;
}

a {
  color:#F2C572;
}

a:hover {
  color:#AA58FF;
}

div {
  border:0px;
}

.brackets{
  margin: 0px 0px 0px 4em;
}

.footnote {
  font-size: 8pt;
  font-weight: lighter;
}

header {
  display: inline;
  height:30px;
  margin-left:12px;
  margin-top: 10px;
}

header, h1 {
  display: inline;
  font-size:18pt;
}

.header_wrapper {
  background-color:#D96F32;
  padding-top:18px;
  padding-bottom:8px;
  padding-left:5px;
  border-radius:30px;
  height:60px;
}

#content {
  margin-top:10px;
  padding-bottom:10px;
}

#content-main {
  margin-left:100px;
  width:75%;
  background-color:#D96F32;
  border-radius:10px;
  padding-left:30px;
  padding-top:8px;
  padding-bottom:8px;
}

#occupation {
  color:#E6F8FF;
}

.contact-info {
  float: right;
  font-size:10pt;
  padding-right:10px;
  align-self:"right"
}
